/* ------------------------  NavBar -----------------------*/

@media (max-width: 768px) {
  .navbar {
    align-items: start !important;
  }
  .navbar-logo img {
    margin-top: 6px;
  }
  .dropdown {
    display: none;
    flex-direction: column;
    text-align: end;
    order: 1;
    width: 100%;
  }
  .burger-menu {
    display: flex !important;
  }
}

@media (max-width: 576px) {
  .navbar {
    width: 100vw !important;
  }
  .navbar-logo {
    width: 100px;
  }
  .navbar-links {
    column-gap: 0 !important;
  }
}

.navbar img {
  height: 100%;
}

.navbar {
  min-height: 60px;
}

.navbar-position {
  position: sticky;
  top: 0;
}

.navbar-background {
  background-color: var(--dark-background);
  z-index: 1;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 5px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.navbar .navbar-links a {
  text-decoration: none;
  text-decoration: none;
  padding: 4px 16px;
  border-radius: 4px;
  color: white;
}

.navbar .navbar-links > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border: 1px solid var(--gray);
}

.navbar .burger-menu {
  display: none;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 4px;
}

.show-dropdown {
  display: flex !important;
}

.navbar .navbar-links a:hover,
.navbar .burger-menu:hover {
  background-color: var(--light-accent);
  transform: translateX(4px);
}

.navbar-link-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-profile_image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--dark-background);
}

.indicator::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  bottom: -4px;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  background-color: var(--light-accent);
  transition: var(--main-transition);
}

/* ---------------------- Dashboard NavBar -----------------------*/

@media (max-width: 640px) {
  .dashboard-navbar {
    height: unset !important;
    padding: 10px;
    width: 100vw !important;
    gap: 20px;
  }

  .dashboard-navbar .nav-links {
    min-width: 75%;
    order: 3;
    flex: none !important;
    margin: auto;
    gap: 5px !important;
  }

  .dashboard-navbar .uesr-dropdown {
    display: grid !important;
    justify-content: end;
  }

  .dashboard-navbar .dropdown-content {
    margin-top: 92px !important;
    justify-self: center;
  }
}

.dashboard-navbar {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.dashboard-navbar .logo {
  flex: 1;
}
.dashboard-navbar .logo a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.dashboard-navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 2;
  justify-content: center;
}

.dashboard-navbar .nav-links .file-dropdown {
  border-radius: 4px;
  position: relative;
}

.dashboard-navbar .nav-links .file-dropdown-content {
  position: absolute;
  left: -20px;
  margin-top: 10px !important;
  width: 230px !important;
  padding-top: 14px !important;
}

.file-dropdown-content button p {
  text-align: start;
}

.dashboard-navbar .nav-links button,
.dashboard-navbar .nav-links > a {
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 16px;
  transition: var(--main-transition);
  background: none;
  border: none;
  display: flex;
  color: white;
  cursor: pointer;
}

.dashboard-navbar .nav-links button {
  padding: 8px 10px;
}

.dashboard-navbar .file-arrow {
  margin-right: 0 !important;
  margin-left: -5px;
  margin-top: -5px;
}

.dashboard-navbar .uesr-dropdown {
  flex: 1 1;
  display: flex;
  justify-content: end;
}

.dashboard-navbar .user-dropbtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: none;
  background: unset;
  color: white;
  font-size: 16px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: var(--main-transition);
}

.dashboard-navbar .dropdown-content {
  width: 200px;
  padding: 26px 0 14px;
  margin-top: 42px;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
}

.dashboard-navbar .dropdown-content a,
.dashboard-navbar .dropdown-content button {
  text-decoration: none;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  color: var(--gray);
  transition: var(--quick-transition);
}

.dashboard-navbar .dropdown-content button {
  width: 100%;
  font-size: 15px;
  line-height: 2;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

.dashboard-navbar .dropdown-icon {
  margin-right: 10px;
}

.dashboard-navbar a {
  transform: unset !important;
}

.dashboard-navbar .nav-links .file-dropdown:hover,
.dashboard-navbar .nav-links a:hover {
  background-color: var(--light-accent);
}

.dashboard-navbar .dropdown-content a:hover,
.dashboard-navbar .dropdown-content button:hover {
  transform: translateX(2px) !important;
  background-color: var(--light-gray-extra);
  color: var(--light-accent);
}

.dashboard-navbar .user-dropbtn:hover {
  transform: translateX(-4px);
}
